video {
  width: 75%;
  height: 75%;
  margin-top: 4.5%;
  border: none;
  border-radius: 15px;
  filter: drop-shadow(3px 3px 4px #f878fc);
  transition: 700ms;
}
* {
  background-color: black;
}
video:hover {
  transition: 700ms;
  filter: drop-shadow(-3px -3px 4px #f878fc);
}
